* {
	margin: 0;
	padding: 0;
	font-family:
		"メイリオ", Meiryo,
		"ヒラギノ角ゴ Pro W3",
		"HIragino Kaku Gothic Pro W3",
		"HIragino Kaku Gothic Pro",
		Osaka,
		"ＭＳ Ｐゴシック", "MS P Gothic",
		sans-serif;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

input{
    border:solid 1px #e7e7e7;
    background:none;
    }

header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 50px;
    background-color: #fff;
    position:fixed;
    top:0;
    left:0;
    z-index:24;
    width:100%;
    border-bottom: solid 1px #efefef;
    justify-content: center;
    align-items: center;
}

.title_img {
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 100%;
    max-height: 100%;
}

.story_img {
    grid-column: 10/11;
    grid-row: 1/2;
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto;
}

.wear_img {
    grid-column: 11/12;
    grid-row: 1/2;
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto;
}

.login_img {
    grid-column: 12/13;
    grid-row: 1/2;
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto;
}

.seach {
    margin: 0 auto;
    grid-column: 4/9;
    grid-row: 1/2;
}


/*フォーム全体*/
#form1{
    position:relative;/*フォームの相対位置*/	
    max-width:100%;/*フォームのサイズ*/
    }
    /*検索ボックス*/
    #sbox{
    width: 100%;
    height:100%;/*検索ボックスの高さ*/	
    padding:0 10px;/*テキスト位置調整*/	 
    border-radius: 0;/*検索ボックスの角を丸める*/		
    background: #efefef;/*検索ボックスの背景カラー*/
    border-radius: 6px;
    outline:0;/*クリック時の青い枠線消す*/
    display: flex;
    justify-content: center;
    align-items: center;
    }



.container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    margin: 5px;
  }
   
  .grid {
    /* box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); */
    /* float: left; */
    font-size: 12px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: solid 1px #efefef;
    /* transition: top 1s ease, left 1s ease; */
  }

  .image_area {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_image {
    display: block;
    /* max-height: 200px;
    max-width: 100%;
    margin: 0 auto; */
    width :100%;
	height: 100%;
	object-fit: cover;
  }

  .grid_title {
    text-align:center;
    font-size: 14px;
    display: block;
    /* margin: 10px 0;
    padding: 0 0 5px; */
  }

  .detail {
    font-size: 1px;
    display: block;
    /* margin: 10px 0; */
    padding: 5px;
  } 

  .grid .brand_name {
    color: #777;
    font-style: italic;
    text-align: right;
  }









footer {
    margin-top:20px; 
    height: 50px;
    background-color: #fff;
    border-top: solid 1px #efefef;
}

.p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  .is-open {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    max-width: 100%;
  }